html {
    box-sizing: border-box;
}

*,
*::before,
::after {
    box-sizing: inherit;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.conteiner {
    width: 480px;
    margin: 0 auto;
    padding-left: 31px;
    padding-right: 31px;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}